/*Full body changes*/
html, body {
    
        width: 100%;
        min-height: 100%;
    
        /*background*/
        background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.6), 
          rgba(0, 0, 0, 0.6)
        ),
        /* bottom, image */
        url(Background/background.jpg) no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
    }
    html{
        margin: 0;
    }
    
    /*General item changes*/
    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    h1, h2, h3, h4, h5, h6, p {
        margin: 0;
        padding: 0;
    }
    h1, h2, h3, h4, h5, h6 {
        color: whitesmoke;
    }
    body {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 100%;
        margin-right: auto;
        margin-left: auto;
        padding: 0.5% 2.5% 0;
        /*background: white;*/
        line-height: 1.8;
    }
    h1 {
        font: 7em Georgia, "Times New Roman", Times, serif;
        margin-bottom: .2em;
    }
    h2 {
        font: 4em Georgia, "Times New Roman", Times, serif;
        margin-bottom: .2em;
    }
    h3 {
        font-size: 3em;
    }
    h4 {
        font-size: 2.5em;
    }
    p {
        text-indent: 0px;
        color: whitesmoke;
    }
    a{
        font-size: 120%;
        color: black;
    }
    footer {
        border-top: 1px solid gray;
        text-align: center;
        font-size: 1.5em;
        line-height: 4em;
        margin-top: 1em;
        color: whitesmoke;
    }
    #wborder{
        border: 10px solid white;
    }
    
    /*Making items full width*/
    .wide{
        width: 100%;
          z-index: 0;
    }
    #width{
        width:100%;
    }
    
    /*Changing the size of BLACK NAVBAR ITEMS*/
    #xlarge{
        font-size: 250%;
        color: black;
    }
    #large{
        font-size:170%;
        color: black; 
    }
    #medium{
        font-size: 100%;
        color: black;
    }
    
    /*Changine the size of WHITE PARAGRAPH ITEMS*/
    #pmedium{
        font-size: 300%;
    }
    #psmall{
        font-size: 200%;
    }
    #ptiny{
        font-size: 50%;
    }
    #pbsmall{
        font-size: 177%;
        color: black;
        line-height: 200%;
    }
    #pblarge{
        font-size: 500%;
        color: black;
        line-height: 250%;
    }
    #pbmedium{
        font-size: 300%;
        color: black;
        line-height: 250%;
    }
    #smaller{
        font-size: 70%;
        line-height: 50%;
    }
    
    /*Tags for changing the background color of the top of the chat box*/
    .panel-default > .panel-heading {
      background-color: black;
    }
    #blueback{
        background-color: #A7A7A7;
    }
    /*Specialized tags*/
    #whiteback{
        background-color: white;
    }
    
    #white{
        color: white;
    }
    #border{
        padding-top: 15px;
    }
    #black{
        color: black;
    }
    
    /*Object Tags*/
    #pad{
        padding: 1em;
    }
    .img-thumb{
        width: auto;
        height: 200px;
    }
    
    /*Modal Tags*/
    img.details{
        width: 90%;
        margin: 15px auto;
    }
    
    /*Login tags*/
    #login-form{
        width: 50%;
        height: 60%;
        border: 2px solid white;
        border-radius: 15px;
        box-shadow: 7px 7px 15px rgba(0,0,0,0.9);
        margin: 8% auto;
        padding: 15px;
        text-shadow: 7px 7px 15px rgba(0,0,0,0.9);
    }
    
    /*buy page*/
    #product{
        width: 100%;
        height: 100%;
        border: 1px solid white;
    }
    
    /*making the modal not mess up the scroll bar*/
    .modal.in {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
    }
    .modal-open {
        overflow: inherit;
    }
    
    /*Signup Modal Specific Styling*/
    /* Full-width input fields */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    
    /* Set a style for all buttons */
    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }
    
    /* Extra styles for the cancel button */
    .cancelbtn {
        padding: 14px 20px;
        background-color: #f44336;
    }
    
    /* Float cancel and signup buttons and add an equal width */
    .cancelbtn,.signupbtn {
        float: left;
        width: 50%;
    }
    
    /* Add padding to container elements */
    .container {
        padding: 16px;
    }
    
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        padding-top: 60px;
    }
    
    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }
    
    /* The Close Button (x) */
    .close {
        position: absolute;
        right: 35px;
        top: 15px;
        color: #000;
        font-size: 40px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }
    
    /* Clear floats */
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
    
    /* Change styles for cancel button and signup button on extra small screens */
    @media screen and (max-width: 300px) {
        .cancelbtn, .signupbtn {
            width: 100%;
        }
    }